:8000 {
    root /var/www

    handle /api/* {
        reverse_proxy backend:8000 {
            header_down access-control-allow-origin "*"
        }
    }

    handle {
        encode
        try_files {path} /index.html
        file_server
    }
}
