@import "tailwindcss";

@theme {
    --color-shis-950: #20202b;
    --color-shis-900: #242432;
    --color-shis-800: #29293a;
    --color-shis-700: #39394e;
    --color-shis-600: #515168;
    --color-shis-500: #75758e;
    --color-shis-400: #a0a0ba;
    --color-shis-300: #bebed8;
    --color-shis-200: #d4d4ec;
    --color-shis-100: #dbdbfc;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    min-height: 100vh;

    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87); */
    background-color: --color-shis-950;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
