@import "tailwindcss";

@font-face {
    font-family: Montserrat;
    src: url("/Montserrat.ttf");
}
@theme {
    --font-sans: Montserrat;
    --color-shis-950: #e8e8e8b1;
    --color-shis-900: transparent;
    --color-shis-800: #ddddde;
    --color-shis-700: #d9d9df;
    --color-shis-600: #c1c1c4;
    --color-shis-500: #6c6c6d;
    --color-shis-400: #8f8f8f;
    --color-shis-300: #3b3b3b99;
    --color-shis-200: #d4d4ec;
    --color-shis-100: #dbdbfc;
}

:root {
    /* font-family: --font-sans, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    line-height: 1.5;
    font-weight: 400;

    min-height: 100vh;


    background: linear-gradient(135deg, #c1c1c1cc, #b7b6b6ee, #d7d5d5da);;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
